/* Custom "glassmorphism" class */
.glassmorphism {
    background: rgba(30, 30, 30, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Hide scrollbar for nav overflow on mobile */
.nav-container::-webkit-scrollbar {
    display: none;
}
.nav-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Disable scrolling on desktop, allow on mobile */
@media (min-width: 768px) {
    body {
        overflow: hidden;
    }
}
